body {
	border: 5px solid black;
	background-color: #e6e6e6c0;
}
#mainMenu {
	margin:10px;
	width:900px;
	font-family: sans-serif;
	text-align: center;
}
#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#mainMenu a:hover {
	background-color:#009;
	color:#ffffff73;
}
h1 {
	text-align: center;
}
footer {
	text-align: center;
}