body {
    background-image: url("");
    background-repeat: repeat-x;
    
}
.marker { 
    display: flex;
    flex-direction: column;
}
a{
    color: red;
    font-size: xx-large;
}
.cursive {
    font-family: 'Alex Brush', cursive;
    text-align: center;
    font-size: 2rem;
    text-emphasis-color: teal;
    font-variant-caps: all-petite-caps;
}
.bold {
    font-family: 'Lily Script One', cursive;
    text-align: center;
    font-size: 2rem;
    text-emphasis-color: teal;
    font-variant-caps: all-petite-caps;
}}
#mainMenu {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color: Black;
}

#mainMenu a:hover {
	background-color: teal;
	color:#fff;
}